
.over_img{
    position: relative;
    top: 8px;
    left: 16px;
}

.center {
    margin: auto;
    width: 70%;
    top: 1px;
    left: 1px;
}

.spacing{
    letter-spacing: 5px;
    word-spacing: 10px;
}

.sofia_font{
    /* background-color: rgba(105, 105, 105, 0.781); */
    font-family: 'Sofia';
}

.asset_font{
    font-family: 'Asset';
}

.audiowide_font{
    font-family: 'Audiowide';
}

.B612_Mono{
    font-family: 'B612 Mono';
}