<div class="ui-fluid" style="position: relative; color: white;" id="contact-me">
    <div class="ui-g-3 ui-lg-3 ui-md-1 ui-sm-0"></div>
    <div class="ui-g-6 ui-lg-6 ui-md-10 ui-sm-12" style="background-color: rgba(22, 22, 22, 0.972); text-align: center;">
        <div class="ui-g-1">

        </div>
        <div class="ui-g-11 ui-md-11 ui-sm-11">
            <h1 class="audiowide_font spacing" style="text-align: center;">Contact</h1>
            <p class="B612_Mono">
                To have contact me you can do it via the social medias listed below.
                <br>
                <br>
                Also you can see my proyect in github or gitlab
                <br>
                <br>
                Or via email at
                <br>
                <br>
                reymarcos51@gmail.com
            </p>
        </div>

        <div class="ui-g-12" style="text-align: center;">
            <div>
                <a href="https://www.linkedin.com/in/marcos-ivan-rey-827438162/" class="fa fa-linkedin" style="color:white;"></a>
                <!-- <a href="" class="fa fa-google" style="color:white;"></a> -->
                <a href="https://github.com/marcos514" class="fa fa-github" style="color:white;"></a>
                <a href="https://gitlab.com/marcos514" class="fa fa-gitlab" style="color:white;"></a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
