<div class="ui-g-12">
    <div class="ui-g-12">
        <app-toolbar></app-toolbar>
    </div>

    <div class="ui-g-12 base_background profile_background">
        <app-profile></app-profile>
    </div>

    <div class="ui-g-12 base_background job_background ">
        <app-jobs></app-jobs>
        <!-- <img src="/assets/images/bortex.jpg" class="responsive" width="600" height="400" alt=""> -->
    </div>
    <div class="ui-g-12 base_background knowledge_background">
        <app-knowledges></app-knowledges>

    </div>
    <div class="ui-g-12 base_background proyect_background">
        <app-proyects></app-proyects>
    </div>
    
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <app-contact></app-contact>
</div>
    

<!-- 
    
    Verificar lo responsive

-->






<!-- <p-menubar>
    <input type="text" pInputText placeholder="Search">
    <button pButton label="Logout" icon="pi pi-power-off"></button>
</p-menubar> -->

