<div class="ui-g-12">
    <div class="ui-g-12">
        <app-toolbar></app-toolbar>
    </div>
    <div class="ui-g-12 base_background profile_background">
        <app-profile></app-profile>
    </div>
    <div class="ui-g-12 base_background job_background ">
        <app-jobs></app-jobs>
    </div>
    <div class="ui-g-12 base_background knowledge_background">
        <app-knowledges></app-knowledges>
    </div>
    <div class="ui-g-12 base_background proyect_background">
        <app-projects></app-projects>
    </div>
    <div class="ui-g-12 base_background contact_background">
        <app-contact></app-contact>
    </div>

</div>
    

<!-- 
    
    Verificar lo responsive

-->






<!-- <p-menubar>
    <input type="text" pInputText placeholder="Search">
    <button pButton label="Logout" icon="pi pi-power-off"></button>
</p-menubar> -->

