<div class="ui-fluid" style="position: relative;">
    <div class="ui-g-12 ui-md-12 ui-sm-12">
        <p-toolbar>
            <div class="ui-g-2 ui-md-2 ui-sm-12" (click)="scrollTo('home')">
                <img src="assets/images/Logo.png" width="50" height="50">
            </div>
            <div class="ui-toolbar-group-right ui-g-10 ui-md-10 ui-sm-12">
                <div class="ui-g-2 ui-md-2 ui-sm-3">
                    <button pButton type="button" label="Jobs" (click)="scrollTo('jobs')"></button>
                </div>
                <div class="ui-g-2 ui-md-2 ui-sm-3">
                    <button pButton type="button" label="Knowledges" (click)="scrollTo('knowledges')"></button>
                </div>
                <div class="ui-g-2 ui-md-2 ui-sm-3">
                    <button pButton type="button" label="Projects" (click)="scrollTo('projects')"></button>
                </div>
                <div class="ui-g-2 ui-md-2 ui-sm-3">
                    <button pButton type="button" label="Contact Me" (click)="scrollTo('contact-me')"></button>
                </div>
            </div>
        </p-toolbar>
    </div>
</div>