.project_container{
    background-color: rgba(245, 245, 245, 0.466);
    text-align: center;
    color: black;
}

.spacing{
    letter-spacing: 5px;
    word-spacing: 10px;
}

.sofia_font{
    /* background-color: rgba(105, 105, 105, 0.781); */
    font-family: 'Sofia';
}

.asset_font{
    font-family: 'Asset';
}

.audiowide_font{
    font-family: 'Audiowide';
}

.B612_Mono{
    font-family: 'B612 Mono';
}


.customer-badge {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: .25em .5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.status-Finished {
    background-color: rgb(119, 255, 124);
    color: #195c10;
}

.status-Started {
    background-color: rgb(56, 225, 255);
    color: rgb(9, 72, 173);
}

.status-Future {
    background-color: rgb(238, 255, 0);
    color: rgb(207, 101, 14);
}

.status-Stoped {
    background-color: rgb(255, 6, 159);
    color: rgb(77, 7, 77);
}

.status-Blocked {
    background-color: rgb(255, 0, 0);
    color: #420f0f;
}



/* Responsive */
@media screen and (max-width: 768px) {
    .small_view{
        display: block;
    }

    .large_view{
        display: none;
        text-align: center;
    }

    .ui-column-title{
        padding: .4em;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4em;
        font-weight: bold;
    }

    /* .ui-table {
        .ui-table-customers {
            .ui-table-thead > tr > th,
            .ui-table-tfoot > tr > td {
                display: none !important;
            }

            .ui-table-tbody > tr > td {
                text-align: left;
                display: block;
                border: 0 none !important;
                width: 100% !important;
                float: left;
                clear: left;
                border: 0 none;
            }
        }
    } */
}

@media screen and (min-width: 769px) {
    .small_view{
        display: none;
    }

    .large_view{
        display: block;
        text-align: center;
    }

    .ui-column-title{
        display: none;
    }
}

button{
    background-color: #191919;
    border-color: #191919;
}
