<div class="ui-fluid" style="color: white;">
    <!-- <img src="'/assets/images/perfil_3.png'" alt=""> -->
    <div class="ui-g-6"></div>
    <div class="ui-g-6 ui-sm-12" style="text-align: center;">
        <h1 style="color:rgb(0, 0, 0)">I'm Marcos I. Rey.</h1>
        <h1 style="color:rgb(0, 0, 0)">Backend/Web Developer</h1>
    </div>

    <div class="ui-g-12"></div>
    <div class="ui-g-7 ui-sm-0"></div>
    <div class="ui-g-4 ui-sm-12" style="background-color: rgb(56, 56, 56);">
        I'm a software developer specialized in backend, architecture and process optimization.
        <br>
        I'm oriented to be autonomous but also enjoy working with teams of any size where I can improve.
        <br>
        Sharing what I've learned over the years and make a significative change in other team members is a plus for me.
        <br>
        I like new technologies, but I'd like to evaluate all the pros and cons rather than just adopting something because everyone else does it. </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</div>