<div class="ui-fluid">
    <!-- <img src="'/assets/images/perfil_3.png'" alt=""> -->
    <div class="ui-g-5"></div>
    <div class="ui-g-6 ui-sm-12" style="text-align: center;">
        <h1 class="asset_font header">
            I <span class="make_it_green">'</span> M
        </h1>
        <h1 class="asset_font header">
            <span class="spacing">
                MARCOS REY
            </span>
            <span class="make_it_green">.</span>
        </h1>
        <h3 class="audiowide_font sub_header spacing">Backend/Web Developer</h3>
    </div>

    <div class="ui-g-12"></div>
    <div class="ui-g-5 ui-sm-0"></div>
    <div class="ui-g-6 ui-sm-12">
        <p>
            I'm a software developer specialized in backend.
            <br>
            But I can also work with frontend (this is not my specialty)
            <br>
            I enjoy working with data, organisign it and presenting them in files or charts.
            <br>
            I'm starting my developer career and I would like to improve myself each time I can
            <!-- I'm oriented to be autonomous but also enjoy working with teams of any size where I can improve. -->
        </p>
    <div>
</div>